{
	"extends": [
		"airbnb",
		"airbnb/hooks",
		"airbnb-typescript",
		"plugin:prettier/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"plugins": [
		"@typescript-eslint",
		"prettier"
	],
	"rules": {
		"import/prefer-default-export": "off",
		"react/require-default-props": "off",
		"react/jsx-no-useless-fragment": "off",
		"no-console": "off",
		"no-underscore-dangle": "off"
	}
}
