{
	"extends": [
		"airbnb",
		"airbnb/hooks",
		"airbnb-typescript",
		"plugin:prettier/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"plugins": [
		"@typescript-eslint",
		"prettier"
	]
}
